configs/fontlist-v330.json
duplicates.npz
duplicate_images/
output_images/
output_images_raw/
output_images_cleaned/
cartella_output/
cleaned_dataset/
.DS_Store
metadata
model.py
SubmissionModel*
model*
*data*
finger*
saved_model*
TransferLearningModel*
FineTuningModel*